body {
  font-family: Arial, sans-serif;
  background: #f4f6f8;
  margin: 0;
}

h1 {
  text-align: center;
}

/* CONTENEDOR */
.container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
}

/* FORMULARIO */
.form {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
}

.form input,
.form select {
  flex: 1 1 150px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

/* BOTONES */
.btn {
  padding: 10px 15px;
  border: none;
  background: #0070f3;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  background: #005bb5;
}

/* CARD DE CITAS */
.card {
  background: rgb(245, 222, 222);
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}

/* BOTONES DE ACCIONES */
.actions {
  display: flex;
  gap: 10px;
}

/* LAYOUT */
.layout {
  display: flex;
}

/* SIDEBAR */
.sidebar {
  width: 160px;
  height: 100vh;
  background: #6c566e;
  color: white;
  padding: 18px;
}

.sidebar ul {
  list-style: none;
  padding: 5;
}

.sidebar li {
  margin: 20px 0;
}

.sidebar a {
  color: white;
  text-decoration: none;
}

/* CONTENIDO */
.content {
  flex: 1;
  padding: 20px;
}

/* DASHBOARD */
.dashboard {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.card-dashboard {
  flex: 1 1 250px;
  background: rgb(230, 205, 230);
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.3s ease;
  text-decoration: none;
  color: black;
}

.card-dashboard:hover {
  transform: translateY(-8px) scale(1.02);
}

.filtros select {
  padding: 10px 15px;
  border-radius: 10px;
  border: 1px solid #ccc;
  background: white;
  font-size: 14px;
  cursor: pointer;
  outline: none;
  transition: 0.3s;
}

/* hover */
.filtros select:hover {
  border-color: #0070f3;
}

/* focus */
.filtros select:focus {
  border-color: #0070f3;
  box-shadow: 0 0 5px rgba(0,112,243,0.3);
}

/* RESPONSIVE */
@media (max-width: 600px) {
  .sidebar {
    display: none;
  }

  .layout {
    flex-direction: column;
  }

  .dashboard {
    flex-direction: column;
  }

  .form {
    flex-direction: column;
  }

  .card {
    flex-direction: column;
    align-items: flex-start;
  }

  .actions {
    width: 100%;
    justify-content: flex-start;
  }
}